header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}
ul {
    list-style: none;
    display: flex;
    gap: 30px;
    background-color: #49782a;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 5px double white;
    border-left: none;
    border-right: none;
}


li:hover {
    background-color: #375b1f;
    cursor: pointer;
}

li {
    padding: 5px;
}

header > img {
    height: 150px;
    margin-left: 19px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.mainSec {
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 250px;
    color: #464646;
}

.imgcap {
    display: flex;
    align-items: center;
}

#testimonial {
    margin: 150px;
    color: #464646;
}

#contactSec {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#contactHeader {
    font-size: 125px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

#personalChef {
    margin-left: 100px;
}

#customerTest {
    margin-top: -75px;
}

.menu {
    border-radius: 5px;
    box-shadow: -7px 8px 13px -8px rgba(0,0,0,1);
    background-color: white;
    border-color: #49782a;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    height: 400px;
    width: 300px;
    border-width: 15px;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
}

.menu > img {
    height: 300px;
    width: auto;
}

#menuWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 15px;
}

.menuCaption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 35px;
}